* {
	margin: 0;
	padding: 0;
}
.nachalo {
	color: red;
	width: 100%;
	height: 75px;
}

.nachalo a {
	text-decoration: none;
	margin-left: 200px;
	font-size: 20px;
	margin-top: -436px;
}

.nachalo li {
	margin-right: 10px;
	padding-top: 15px;
	display: block;
	float: left;
}

.background {
	width: 100%;
	height: 100%;
	color: #8533ff;
}

.back {
	background-color: #BA55D3;
	height: 150px;
}

.back h1 {
	color: #8533ff;
	text-align: center;
	padding: 50px;
	font-size: 50px; 
}

* {
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  margin-top: 15px;
  font-size: 23px;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #ffffff;
  border: none;
  transition: .3s ease-in-out;
}

.tyty {
	background-color: #4dd0e1;
	width: 100%;
	height: 75px;
}

.footer {
	background-color: #40E0D0;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }


#inline {
margin-left: 30px;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 20px;
}
.txt { 
    display: inline-block;
    color: #676767;
    width: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
}
.txtarea { 
    display: inline-block;
    color: #676767;
    width: 617px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
    height: 80px;
}
.txt:focus, .txtarea:focus {
 border-style: solid; 
 border-color: #bababa; 
 color: #444; 
 }
input.error, textarea.error { 
    border-color: #973d3d; 
    border-style: solid; 
    background: #f0bebe; 
    color: #a35959; 
    }
input.error:focus, textarea.error:focus { 
    border-color: #973d3d; 
    color: #a35959;
     }
#send { 
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
    background: #70C6B9;
    width: 210px;
    margin-bottom: 20px;
}
#send:hover {
    background: #979797;
    
}

.txt {
  width: 100px;
}

#color {
  background-color: #4dd0e1;
}


/*
Форма обратной связи
*/
#inline {
   margin-left:30px;
   width:80%;
   margin:0 auto;
   background:#FFF;
   padding:10px 20px;
}
.txt {
   display:inline-block;
   color:#676767;
   width:190px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
}
.txtarea {
   display:inline-block;
   color:#676767;
   width:617px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
   height:80px;
}
.txt:focus, .txtarea:focus {
   border-style:solid;
   border-color:#BABABA;
   color:#444;
}
input.error, textarea.error {
    border-color:#973D3D;
    border-style:solid;
    background:#F0BEBE;
    color:#A35959;
}
input.error:focus, textarea.error:focus {
    border-color:#973D3D;
    color:#A35959;
}
#send { 
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:2px;
    background:#70C6B9;
    width:210px;
    margin-bottom:20px;
}
#send:hover {
    background:#979797;
}
/*
Форма обратной связи
*/

#email {
  width: 226px;
  border:solid 1px #BABABA;
  height: 30px;
}

#inline {
  width: 100%;
  text-align: center;
}

#send {
  margin-left: 500px; 
  background-color: #4dd0e1; 
}

.g-recaptcha {
  margin-left: 460px;
}

.tyty img {
  width: 135px;
  height: 60px;
  margin-top: -100px;
  display: inline-block;
}

.obr {
  text-align: center;
  color: #4dd0e1;  
}